@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Poppins;
}

.hero-section{
    background: url(/assets/images/banner.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}

.product-card {
      border: none;
      text-align: center;
    }
    .sale-badge {
      position: absolute;
      top: 10px;
      left: 10px;
      background: black;
      color: white;
      font-size: 0.8rem;
      padding: 3px 8px;
      border-radius: 4px;
      z-index: 2;
    }
    .old-price {
      text-decoration: line-through;
      font-size: 0.9rem;
      color: gray;
    }
    .product-img {
      height: 280px;
      object-fit: cover;
    }


  .img-wrapper {
  position: relative;
  overflow: hidden;
}

.img-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  transition: left 0.4s ease;
  z-index: 1; 
}

.img-wrapper:hover::before {
  left: 0;
}



